{
  email admin@xtalento.com.co
}

# Evolution API en el servicio 'evolution-api' (puerto interno 8080)
https://evo.xtalento.com {
  encode gzip
  reverse_proxy evolution-api:8080
  log { 
    output file /data/evo.access.log 
  }
}
